    body{
      text-align: center;
      background: black;
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    h1{
      color:white;
    }
    h3{
      padding:50px 50px 50px 50px;
      color:white;
      font-size: 22px;
    }
    img{
      
    }
    .self{
      margin-top: 200px;
      
      height: 200px;
      border: 7px solid white;
      border-radius:20px;
    }
    
    p {
         background: black;
         background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
         background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
         background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
         bottom:0;
         position: absolute;
    }
    

    .sizing {
    height:300px;
    width:300px;
    background: 100%;
    margin:0px 0px 0px 0px;
    border: 7px solid white;
    border-radius:20px;
    position: relative;;
    }
    #patriots{
        margin: 0px 0 0 0;
      height: 200px;
       border: 7px solid white;
    border-radius:20px;
      position: absolute;
      right: 0px;
      top: 0px;
      background-image: url("http://www.homedepot.com/catalog/productImages/400/5a/5a08b995-fa79-40d7-adcd-3ab0ec1f9c16_400.jpg");

    }

    .hometown{
        margin: 0px 0 0 0;
      height: 200px;
       border: 7px solid white;
    border-radius:20px;
      position: absolute;
      text-align: left;
      background-image: url("http://static.panoramio.com/photos/large/6243953.jpg");
    }
    
    .container{
      text-align: center;
  width:800px;
  height:400px;
  padding:20px;
  border:1px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background:black;
  }
.image-slider-wrapper{
  overflow: hidden;
}
#image_slider{
  position: relative;
  overflow: hidden;
  height: 280px;
  padding:0;
  left:0;
}
#image_slider li{
  position:relative;
  max-width: 100%;
  float:left;
  list-style: none;
  left: 0;
  
}

